host.key
hostkey.ser

# Silly Apple
.DS_Store?
.DS_Store
**/.DS_Store?
**/.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.directory

# I don't like checking in my IDE files
*.iml
**/*.iml
*.ipr
**/*.ipr
*.iws
**/*.iws
.idea/
.idea/**
.classpath
.project

# removing output files
target
target/**
**/target/**/*
**/target/**
**/target
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# We generate this, so we don't want to check it in
host.key

# Ignoring VIM files
.*.sw[a-z]
*.un~

