# Silly Apple
.DS_Store

# I don't like checking in my IDE files
**/*.iml
**/*.ipr
**/*.iws
.idea/
.idea/**
.classpath
.project

# removing output files
target
target/**
**/target/**/*
**/target/**
**/target
*.class

# We generate this, so we don't want to check it in
host.key

# Ignoring VIM files
*.swp
*.swo

